body {
    background: rgba(247, 246, 244, 0.76);
    height: 100%;
}

.foto {
    border-radius: 50%;
    border: 3px solid rgb(17, 13, 13);
    width: 60%;
    height: 60%;
    margin-top: 10px;
    margin-left: 30px;
}

.nome {
    color: rgb(4, 1, 20);
    font-family: Georgia;
    margin-left: -130px;
}

.nome2 {
    margin-left: 100px;
}

.post {
    background: rgb(12, 192, 247);
    border: 3px solid #000;
    border-radius: 1%;
    padding-right: 10px;
    width: max;
    margin-left: 5px;
}

.imagem2 {
    padding-left: 10px;
    width: 25%;
    height: 50%;
}

.secao {
    background-color: rgb(153, 153, 243);
    height: 100vh;
    width: 250px;
    margin-right: 80%;
}

.foto2 {
    border-radius: 1%;
    border: 3px solid rgb(247, 243, 243);
    border-radius: 50%;
    width: 40%;
    height: 50%;
    margin-top: 15px;
    margin-left: 30px;
}

.EX {
    color: blue;
    font-size: 45px;
    margin-left: 15px;
}

.ED {
    color: blue;
    font-size: 45px;
    margin-left: 15px;
}

.experiencia {
    border-radius: 1%;
    border: 1px solid rgb(20, 4, 248);
    padding-right: 10px;
    width: max;
    margin-left: 20px;
}

.rs {
    margin-top: 1px;
    color: blue;
}

.ct {
    color: blue;
}

.sf {
    color: blue;
}
.foto4{
    border-radius: 25%;
    border: 2px solid rgb(252, 252, 253);
    margin-top: 5px;
    }
.foto5{
    border-radius: 25%;
    border: 2px solid rgb(252, 252, 253);
    margin-top: 10px;
    }
.foto6{
    border-radius: 100%;
    border: 2px solid rgb(248, 248, 248);
    margin-top: 9px;
    }
.foto7{
    border-radius: 100%;
    border: 2px solid rgb(248, 248, 248);
    margin-top: 9px;
    }
.foto8{
    margin-top: 8px;
    }
.youtube{
    border-radius: 50%;
    border: 2px solid rgb(247, 13, 13);
    margin-top: 5px;
    color: red;
    }
.nav-item{
    list-style: none;
    }
.form
    {
    box-shadow: 1px 1px 5px  #ccc;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    width: 400px;
    margin: auto;
    margin-top: 40px;
    }
.login
    {
    font-family: sans-serif;
    text-align: center;
    }
.img-login
    {
    border-radius: 50px;
    width: 100px;
    box-shadow: 0px 0px 5px #ccc;
    }
.logar
    {
    color: blue;
    }
.login-group > label
    {
    width: 55%;
    color: red;
    display:block;
    }
.login-group > input
    {
     border-radius: 2px;
     width: 200px;
     height: 25px;
     padding: 10px;
     outline: 0;
    }
.login-group
    {
    padding-bottom: 10px;
    }
.login-group > button
    {
    background-image: linear-gradient(to right, red, blue);
    border-radius: 30px;
    padding: 15px;
    width: 100%;
    color: white;
    border: 0px;
    outline: 0;
    }
.btn button:hover
    {
    background-image: linear-gradient(to left, red, blue); 
    }
.link
    {
    font-family: Helvetica, sans-serif;
    font-size: 26px;
    margin-left: 30px;
    padding: 20px;
    margin-bottom: 30px;
    }
    /*  media queries */ 
    @media screen and (max-width: 1024px){
        body{
            background: rgba(247, 246, 244, 0.76);
            height: 100%;
        }
    }    
    @media screen and (max-width: 720px) {
        body{
            background: red;
            height: 100%;
        }
        .nome{
            color: rgb(1, 22, 10);
            font-family: Georgia;
            display: flex;
            justify-content: center;
            margin-left: 50px;
        }
        .foto{
            display: flex;
            justify-content: center;
            margin-left: 80px;
        }
        h1{
            display: flex;
            justify-content: center;
        }
        .post{
            width: max;

        }
    }
    @media screen and (max-width: 320px) {
        body{
            background: gray;
            height: 100%;
        }
        .nome{
            color: rgb(1, 22, 10);
            font-family: Georgia;
            display: flex;
            justify-content: center;
            margin: auto;
            width: 320px;
        }
        .foto{
            display: flex;
            justify-content: center;
            margin-left: 80px;
        }
        h1{
            display: flex;
            justify-content: center;
        }
        .post{
            background: rgb(12, 192, 247);
            border: 3px solid #000;
            border-radius: 1%;
            padding-right: 10px;
            width: max;
            margin-left: 5px;
             }
     }
 
     
